<div class="details-post-card">
    <div class="post-card-header">
        <p class="post-card-category-{{ post.type.name }}">{{ post.category.name }}</p>
        <p class="post-card-title">{{ post.title }}</p>
    </div>
    <div class="post-card-picture-container">
        <img class="post-card-picture" src="{{ asset('build/images/post/' ~ post.picture ~ '') }}"/>
    </div>
    <div class="post-card-author-date">
        <p class="post-card-author"><span class="post-card-author-color-{{ post.type.name }}">{{ post.user.firstName }}</span>, le {{ post.creationDate|format_datetime('medium', 'none', locale='fr') }}</p>
    </div>
    <div class="post-card-description-container">
        <p class="post-card-description">{{ post.description }}</p>
    </div>
    <div class="post-card-comments">
    {% if post.comments is defined and post.comments is not empty %}
        <div class="post-card-comments-container">
            {% for comment in post.comments %}
                <div class="post-card-comment">
                    <div class="post-card-comment-author-date">
                       <img class="post-card-comment-avatar" src="{{ asset('' ~ comment.user.avatar ~ '') }}"/>
                        <p class="post-card-comment-author">{{ comment.user.firstName }}, le {{ comment.creationDate|format_datetime('medium', 'none', locale='fr') }}</p>
                    </div>
                    <p class="post-card-comment-details">{{ comment.comment }}</p>
                </div>
            {% endfor %} 
        </div>
        {% if post.comments|length is same as 1 %}
        <div class="post-card-comments-resume">
            <p class="post-card-comments-resume-text">1 commentaire pour cette annonce.</p>
        </div>
        {% else %}
        <div class="post-card-comments-resume">
            <p class="post-card-comments-resume-text">{{ post.comments|length }} commentaires pour cette annonce.</p>
        </div>
        {% endif %}
    {% else %}
        <div class="post-card-no-comment-resume">
            <p class="post-card-no-comment-resume-text">Pas de commentaire</p>
        </div>
    {% endif %}
    </div>
    
</div>