{% extends 'base_dashboard.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1 class="dashboard-title">Tous mes posts</h1>

    <table class="dashboard-table table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Picture</th>
                <th>Description</th>
                <th>CreationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td><img src="{{ asset('build/images/post/' ~ post.picture ~ '')}}"/></td>
                <td>{{ post.description }}</td>
                <td>{{ post.creationDate ? post.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="text-decoration-none text-secondary pe-2" href="{{ path('app_post_show', {userId: app.user.id, postId: post.id}) }}">show</a>
                    <a class="text-decoration-none text-secondary" href="{{ path('app_post_edit', {userId: app.user.id, postId: post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
