{% extends 'base_dashboard.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
    <h1 class="dashboard-title">Tous mes commentaires</h1>

    <table class="dashboard-table table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment</th>
                <th>CreationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.comment }}</td>
                <td>{{ comment.creationDate ? comment.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="text-decoration-none text-secondary pe-2" href="{{ path('app_comment_show', {userId: app.user.id, commentId: comment.id}) }}">show</a>
                    <a class="text-decoration-none text-secondary" href="{{ path('app_comment_edit', {userId: app.user.id, commentId: comment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
