<section class="wilders-team">
    <div class="wilders-team-modal-close" id="wilders-team-modal-close">
        <img class="wilders-team-close-icon" src="{{ asset('build/images/icons/close.png') }}"/>
    </div>
    <div class="wilders-team-polaroids">
        <h1 class="wilders-team-polaroids-title">
            Wilders Team PHP 2022 !!
        </h1>
        <div class="wilders-team-polaroids-zone">
            <div class="wilders-team-polaroids-content" id="wilders-team-polaroids-content">
            {% for wilder in wilders %}
                <img class="carousel-picture-general-style wilder-{{ loop.revindex }} rotate-z-{{ wilder.rotation }}"
                    src="{{ asset('' ~ wilder.polaroid ~ '') }}"/>
            {% endfor %}
            </div>
            <p class="wilders-team-polaroids-indication">Cliquez sur les polaroids !</p>
        </div>
        <div class="wilders-team-description-zone">
            {% for wilder in wilders %}
                <div class="carousel-description wilder-{{ loop.revindex }}">
                    <h2 class="carousel-description-question">Une petite blague {{ wilder.firstName }} ?</h2>
                    <p class="carousel-description-joke"></p>
                    <p class="carousel-description-answer"></p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>