{% extends 'base_dashboard.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="dashboard-title">Détails du message</h1>

    <table class="dashboard-table table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ contact.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ contact.LastName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ contact.comment }}</td>
            </tr>
        </tbody>
    </table>
    <div class="bg-light w-25 m-auto d-flex justify-content-around align-items-center">
        <a href="{{ path('app_admin_contact_index') }}">back to list</a>
        {{ include('admin_contact/_delete_form.html.twig') }}
    </div>

{% endblock %}
